html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.light {
  background-color: #ffffff;
  color: #000;
  min-height: 100vh;
}

.dark {
  background-color: #121212;
  color: #fff;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}
